<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
<h1>Test page!</h1>

<a href="{% url 'app_1_tag:webpageinput' %}">Go to form!</a>
<a href="{% url 'admin:index' %}">Go to admin!</a>

<h2>Here are your access records:</h2>

<div class="djangotwo">

    {% if access_records %}
    <table>
        <thead>
        <th>Site Name</th>
        <th>Date Accessed</th>
        </thead>

    {% for acc in access_records %}
    <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}

</div>
</body>
</html>